<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="core">
            <directory>tests/Core</directory>
            <directory>tests/Devtools</directory>
            <directory>tests/Nation</directory>
            <directory>tests/World</directory>
            <directory>tests/Competition</directory>
            <directory>tests/Club</directory>
            <directory>tests/Player</directory>
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="additional">
            <directory>tests/Avatar</directory>
            <directory>tests/Match</directory>
            <directory>tests/Web</directory>
        </testsuite>
    </testsuites>
</phpunit>
